pkgbase = slat
	pkgdesc = Terminal multiplexer with tiling panes, tabs and workspaces that keep running after you close the window
	pkgver = 0.2.0
	pkgrel = 1
	url = https://github.com/noturbob/slat
	arch = x86_64
	arch = aarch64
	license = MIT
	makedepends = go
	depends = glibc
	source = slat-0.2.0.tar.gz::https://github.com/noturbob/slat/archive/refs/tags/v0.2.0.tar.gz
	sha256sums = SKIP

pkgname = slat
